@import url("../colors.css");

* {
    font-family: Nerd Font Hack;
    font-size: 14px;
    color: @--color-fg;
}

#workspaces button.active {
    border-bottom: solid 2px @--color-fg;
}

window#waybar {
    background: transparent;
    border: none;
    border-radius: 20px;
}

.horizontal .modules-left {
  background: @--color-bg;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.horizontal .modules-center {
  background: @--color-bg;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.horizontal .modules-right {
  background: @--color-bg;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 12px;
}

box .modules-left> :not(:last-child)>label {
    padding-left: 10px;
    padding-right: 10px;
    border-image: linear-gradient(transparent, #87519f, transparent) 0 1 0 0 / 1px 1px 1px 1px;
}

box .modules-left> :last-child>label {
    padding-left: 10px;
}

box .modules-right {
  padding-right: 10px;
}

#tray menu {
	background: @--color-bg;
	color: @--color-fg;
	/* margin: 0; */
	/* padding-left: 0; */
	/* padding-right: 0; */
}

#workspaces button {
    border-radius: 0;
    border-bottom: solid 2px transparent;
}

#battery.critical:not(.charging) {
    color: @--color-accent;
}
